.simplex__main {
    align-items      : center;
    background-image : url("../../public/fondoex.jpg");
    background-repeat: no-repeat;
    background-size  : cover;
    display          : flex;
    flex-direction   : column;
    height           : 100vh;
    justify-content  : center;
    padding-inline   : 10%;
    width            : 100vw;
}

.simplex__mask {
    align-items: center;
    background : linear-gradient(0deg,
            black,
            85%,
            transparent);
    display        : flex;
    flex-direction : column;
    height         : 100%;
    justify-content: center;
    width          : 100vw;
}

.simplex__form {
    background-color: #000000c6;
    border-radius   : 10px;
    box-shadow      : 3px 3px 3px 3px black;
    max-width       : 600px;
    padding         : 40px 40px;
    width           : 100%;
}

.simplex__header {
    border-bottom: 1px solid #fbaf41;
    margin-bottom: 32px;
}

.simplex__title {
    color: white;
    margin-bottom: 8px;
}

.simplex__paragraph {
    font-size: 16px;
    margin-bottom: 32px;
    margin-top: 0;
}

.simplex__field {
    position: relative;
}

.simplex__link {
    text-decoration: underline;
}

.simplex__section:last-child {
    margin-top: 60px;
}

.simplex__label {
    color    : white;
    display  : block;
    font-size: 16px;
    margin   : 0 0 20px;
    color: #8C8C8C;
}

.simplex__label::placeholder {
    color: #8C8C8C;
}

.simplex__input {
    align-items          : center;
    background-color     : white;
    border-radius        : 8px;
    color                : black;
    display              : grid;
    gap                  : 20px;
    grid-template-columns: auto 60px 24px;
    height               : 52px;
    margin-bottom        : 24px;
    padding              : 12px 20px;
    transition           : all ease-in-out 0.3s;
}

.simplex__input--active {
    border-radius: 8px 8px 0 0;
}

.simplex__network,
.simplex__ticker {
    height: 24px;
    margin: 0;
}

.simplex__network {
    align-items: center;
    border     : none;
    display    : flex;
    font-size  : 16px;
    width      : 100%;
}

.simplex__network:focus {
    outline: 0;
}

.simplex__ticker {
    background-color: #fbaf41;
    border-radius   : 4px;
    box-shadow      : 2px 2px 2px rgba(65, 65, 65, 0.154);
    color           : black;
    display         : block;
    font-size       : 12px;
    overflow        : hidden;
    padding         : 4px 12px;
    text-align      : center;
    text-overflow: ellipsis;
    transition      : all ease-in-out 0.3s;
    white-space: nowrap;
    width: 100%;
}

.simplex__selector {
    align-items     : center;
    background-color: white;
    border          : none;
    cursor          : pointer;
    display         : flex;
    justify-content : center;
}

.simplex__ticker:hover,
.simplex__selector:hover {
    filter: brightness(1.2);
}

.simplex__selection {
    opacity: 0;
    background-color: white;
    padding         : 0 24px;
    position        : absolute;
    bottom          : 0;
    width           : 100%;
    height          : 0;
    transition      : all ease-in-out 0.3s;
    z-index: 1;
}

.simplex__selection--active {
    opacity: 1;
    background-color: white;
    padding         : 24px;
    position        : absolute;
    bottom          : -260px;
    width           : 100%;
    height          : 260px;
    transition      : all ease-in-out 0.3s;
    border-radius: 0 0 8px 8px;
}

.simplex__button {
    background-color: #fbaf41;
    border          : none;
    border-radius   : 8px;
    color           : black;
    font-size       : 16px;
    font-weight     : 700;
    height          : 52px;
    text-transform  : uppercase;
    transition      : all ease-in-out 0.3s;
    width           : 100%;
}

.simplex__button:hover {
    filter: brightness(1.2);
}

.simplex__list {
    overflow: auto;
    height: 100%;
}

/* ? Custom scrollbar */
.simplex__list::-webkit-scrollbar {
    width: 8px;
}

.simplex__list::-webkit-scrollbar-track {
background: #f1f1f1; 
}


.simplex__list::-webkit-scrollbar-thumb {
background: #888; 
}


.simplex__list::-webkit-scrollbar-thumb:hover {
background: #555; 
}

/* ? Simplex list item styles */
.simplex__list-item {
    cursor: pointer;
    padding: 12px;
}

.simplex__list-item:hover {
    background-color: #e5e5e5;
}

.rotate {
    animation: rotate 2s linear infinite;
    color: #6a6a6a
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }
    50% {
        transform: rotate(180deg);
        opacity: 0.5;
    }
    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
}
