.btn {
  margin         : 0;
  width          : 12em;
  height         : 3.5em;
  color          : white;
  border-radius  : 1em;
  text-align     : center;
  font-size      : 1em;
  line-height    : 2em;
  cursor         : pointer;
  background     : var(--bg-btn);
  display        : flex;
  flex-direction : column;
  justify-content: center;
  justify-items  : center;
  align-items    : center;
}

.btn:hover {
  background: var(--bg-btn-hover);
}

/* Mobile */
@media (max-width: 600px) {
  .btn {
    width : 10em;
    height: 3.5em;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 601px) and (max-width: 1120px) {}