.main {
  height: auto;
  width: 100%;
  max-width: var(--max-width);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
}

.main h2 {
  margin-bottom: 30px;
}

.content {
  height: auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-block: 30px;
  overflow-x: scroll;
}

.audio {
  display: flex;
  flex-direction: column;
  background-color: rgb(103, 101, 101);
  padding: 20px;
  border-radius: 20px;
}

.audio text {
  height: 50px;
  text-align: center;
}